.hidden {
  display: none !important;
}

* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

#kingBox {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#topBox {
  display: flex;
  justify-content: space-between;
}

#topBox .ul2 {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 20px;
}

#topBox .ul1 {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
}

#greeting {
  margin-left: 30px;
  font-size: larger;
  color: white;
  background-color: bisque;
  border-radius: 5px;
  padding: 1vh;
}

#contentBox {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}

#leftBox {
  flex-basis: 40vh;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#rightBox {
  background-color: rgba(240, 239, 255, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  position: relative;
}

#quote {
  position: relative;
  bottom: 10px;
  width: 80%;
  left: 45%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.579);
  backdrop-filter: blur(3px);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 3px 25px -20px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.quote1 {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}
.quote2 {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.weather-container {
  width: 300px;
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid rgba(155, 155, 155, 0.4);
}

.weather-container #weather-box {
  margin: 10px;
}

.weather-container h1 {
  text-align: center;
}

.weather-container li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-container li > span:last-child {
  font-size: 18px;
  font-style: italic;
}

#yymmdd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
  font-size: 10vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#date {
  color: white;
  font-size: 5vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.todo-board {
  max-width: 100%;
  height: auto;
  position: absolute;
}

.todo-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

#todo-form {
  margin-top: 70px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#todo-form span {
  font-size: 25px;
  font-weight: 400;
}
#todo-form input {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border-color: rgb(109, 236, 124);
}

#todo-list {
  position: absolute;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo-container ul li {
  margin-bottom: 5px;
  font-size: 18px;
}
#reset {
  background-color: rgb(14, 195, 236);
  width: 70px;
  color: white;
  position: absolute;
}
.delete-btn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
}
